id ICON "app.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "Yildiz-Games"
            VALUE "FileDescription",  "Play50hz player launcher"
            VALUE "FileVersion",      "1,0,0,0"
            VALUE "InternalName",     "retro-player-installer"
            VALUE "LegalCopyright",   "Copyright (c) 2019 Gregory Van den Borre"
            VALUE "OriginalFilename", "Play50hz-player.exe"
            VALUE "ProductName",      "Play 50 hz player"
            VALUE "ProductVersion",   "1,0,0,0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
